.row {
  margin: 0px !important;
  height: 100%;
}

.menu-container {
  background: #333333;
  color : #ffffff;
  height: 100%;
}

.body-container {
  
  color: rgb(241, 234, 234);
  height: 100%;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.list-group-item {
  background: none !important;
  border: none !important;
  color: #dddddd;
}

.col-10 {
  padding: 0 !important;
}


/*ESTILOS PARA EL MENU LATERAL*/

.side-head {
  text-align: center;
  width: 100%;
}

.title-flax {
  color : red;
  padding-top: 20px;
  padding-bottom: 20px;
}